@mixin bleed-left {
    /* see https://css-tricks.com/full-width-containers-limited-width-parents/ */
    position: relative;
    &::before {
        content: ' ';
        z-index: -1;
        display: block;
        background: inherit;
        width: 50vw;
        height: 100%;
        position: absolute;
        top: 0;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
    }
}

@mixin bleed-right {
    /* see https://css-tricks.com/full-width-containers-limited-width-parents/ */
    position: relative;
    &::before {
        content: ' ';
        z-index: -1;
        display: block;
        background: inherit;
        width: 50vw;
        height: 100%;
        position: absolute;
        top: 0;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
    }
}
