.news_item {
  &__headline {
    margin-bottom: 0 !important;
  }
  &__date {
    margin-top: 0;
  }
}

.events_list {
  &__event {
    display: grid;
    grid-template-columns: 1fr 3fr;
    
    &__date {
      font-weight: bold;
    }

  }
}

.category-press-release {
  .cat-links {
    display: none;
  }
}